<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form  method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        
        <input type="text" class="form-control" name="username" required id="username" placeholder="Username" />
        
        <input type="password" class="form-control pe-7" name="password" required id="password" value="" placeholder="Password*" />
          
        <input type="submit" value="login">
      </form>
</body>
</html>